body{
  /*font-family: 'Helvetica';*/
  width: 100vw;
  margin:0;
}
html{
  height: 100vh;
  width: 100vw;
}
#root{
  height: 100vh;
  width: 100vw;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
}
.logo-container{
  width: 100vw;
  position: fixed;
}
.logo{
  height: 80px;
  width: 80px;
  margin-left: 25px;
  margin-top: 10px;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-bottom: 1em;
  position: fixed;
}
.main-ball{
  background: black;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  
}
.inside-ball{
  background: white;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
  margin-right: 5em;
  position: relative;
}
.eight{
  transform: rotate(60deg);
  font-size: 80px;
  color: #000000;
  margin-left: 20px;
}
.ask-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: black;
  margin-top: 1.5em;
  font-family: cursive;
  font-weight: 500;
  position: relative;
}
.question{
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  position: relative;
}
input{
  outline: none;
  height: 50px;
  width: 325px;
  background-color: rgba(255,255,255,0);
}
input[type='text']{
  text-align: center;
  font-family: inherit;
  font-size: 20px;
}
.ask-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.ask-button{
  font-family: inherit;
  font-size: 20px;
  background: rgba(255,255,255,0);
  height: 57px;
  outline: none;
  cursor: pointer;
}

/*OTHER SIDE*/
.main-ball-two{
  background: black;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 112.6px 63px 0 63px;
  border-color: #0000ff transparent transparent transparent;
  -webkit-transform:rotate(360deg);
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inside-rim{
  background: radial-gradient(50% 50%, #002BFF 5%, #000315 81%, #000000 83%);  
  border: 8px solid #FFFFFF;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fortune{
  font-size: 18px;
  font-family: cursive;
  font-weight: 800;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 8.25em;
  line-height: 25px;
}
.restart-button{
  margin-top: 5.5em;
  font-family: cursive;
  font-size: 20px;
  background: rgba(255,255,255,0.5);
  outline: none;
  color: black;
}
/*EFFECTS*/
.floating{
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 30px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    75% {-moz-transform:translate(0, 30px);}
    to {-moz-transform: translate(0, -0px);}    
}
.floating-two{
  float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}
@media only screen and (max-width: 700px) {
  .main-ball{
    height: 200px;
    width: 200px;
  }
  .inside-ball{
    height: 90px;
    width: 90px;
    margin-top: 2.5em;
    margin-right: 2.5em;
  }
  .eight{
    font-size: 50px;
  }
  .ask-box{
    font-size: 20px;
  }
  input{
    height: 30px;
    width: 225px;
  }
  input[type='text']{
  font-size: 15px;
}
  .ask-button{
  height: 37px;
}
  /*OTHER SIDE*/
  .main-ball-two{
  height: 200px;
  width: 200px;
  }
  .triangle{
    border-width: 60.6px 35px 0 35px;
    margin-top: 1em;
    
  }
  .inside-rim{
    height: 85px;
    width: 85px;
    border: 4px solid #FFFFFF;
  }
  .fortune{
    margin-bottom: 7em;
    font-size: 12px;
    line-height: 12px;
  }
  
}
@media only screen and (max-width: 300px) {
  
  .logo-container{
    max-width: 50%;
  }
  .main-ball{
    height: 150px;
    width: 150px;
  }
  .inside-ball{
    height: 70px;
    width: 70px;
    margin-top: 1.5em;
    margin-right: 1.5em;
  }
  .eight{
    font-size: 35px;
    margin-left: 10px;
  }
  .ask-box{
    font-size: 20px;
    color: white;
  }
  input{
    height: 30px;
    width: 175px;
  }
  input[type='text']{
  font-size: 18px;
  }
  .ask-container{
    flex-direction: column;
  }
  .ask-button{
  height: 37px;
  margin-top: 1em;
}
  .main-ball-two{
  background-color: white;
  }
  .triangle{
    border-width: 110.6px 75px 0 75px;
    
  }
  .inside-rim{
    background: none;
  }
  .fortune{
    margin-bottom: 9em;
    font-size: 16px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 200px) {
  .logo{
    margin-left: 0;
  }
  .logo-container{
    max-width: 50%;
  }
  .main-ball{
    height: 100px;
    width: 100px;
  }
  .inside-ball{
    height: 50px;
    width: 50px;
    margin-top: 1.5em;
    margin-right: 1.5em;
  }
  .eight{
    font-size: 25px;
    margin-left: 4px;
  }
  .ask-box{
    font-size: 15px;
  }
  input{
    height: 30px;
    width: 125px;
  }
  input[type='text']{
  font-size: 18px;
  }
  .ask-container{
    flex-direction: column;
  }
  .ask-button{
  height: 37px;
  margin-top: 1em;
}
}